<div class="container">
  <div class="card">
    <h1>Hallo, <%= @profil.name %>, hier kannst du deine Daten ändern.</h1>
    <%= simple_form_for @profil do |f| %>
      <%= f.input :name %>
      <%= f.input :wohnort %>
      <%= f.button :submit, "Daten ändern", class:"btn btn-success" %>
    <% end %>
  </div>
</div>
