<h1>Enter your data here!</h1>

<%= simple_form_for @profile do |f| %>
  <%= f.input :name %>
  <%= f.input :wohnort %>
    <%= f.simple_fields_for :interests do |i| %>
    <%= i.input :name %>
    <% end %>
  <%= f.submit %>
<% end %>
