<h1>Noch schnell das Formular ausfüllen ...</h1>

<%= simple_form_for @profile do |f| %>
  <%= f.input :name %>
  <%= f.input :wohnort %>
    <%= f.simple_fields_for :interests do |i| %>
    <%= i.input :name, label: "Dein Hobby" %>
    <% end %>
  <%= f.submit, class: "btn btn-success" %>
<% end %>
